.svn
config.save
doc/.svn
ext/.svn
ext/oci8/.svn
ext/oci8/apiwrap.h
ext/oci8/Makefile
ext/oci8/apiwrap.c
ext/oci8/depend
ext/oci8/extconf.h
ext/oci8/mkmf.log
ext/oci8/*.def
ext/oci8/*.o
ext/oci8/*.so
ext/oci8/*.obj
ext/oci8/*~
lib/oci8.rb
lib/*.rbc
lib/*~
lib/oci8/*.rbc
lib/oci8/*~
test/*.rbc
test/*~
