--protected
--no-private
--exclude ext/oci8/apiwrap.rb
--exclude ext/oci8/oraconf.rb
--exclude lib/oci8/compat.rb
--exclude lib/dbd
--hide-void-return
--charset UTF-8
--asset docs/osx-install-dev-tools.png:osx-install-dev-tools.png
-
NEWS
COPYING
COPYING_old
docs/install-full-client.md
docs/install-instant-client.md
docs/install-binary-package.md
docs/install-on-osx.md
docs/platform-specific-issues.md
docs/report-installation-issue.md
