h1 {
	color: #000080;
	background: #e0e0ff;
	border-color: #8080d0;
	border-style: solid;
	border-top-style: none;
	border-left-style: none;
	border-bottom-width: thick;
	border-right-width: thin;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
        text-align: center
}
h2 {
	color: #000080;
	background: #e0e0ff;
	border-color: #8080d0;
	border-style: solid;
	border-top-style: none;
	border-left-style: none;
	border-bottom-width: thick;
	border-right-width: thin;
}
code {
	color: blue
}
var {
	color: brown
}
dt {
	color: red
}
pre {
	background: #e0ffff
}
