/* -*- c-file-style: "ruby"; indent-tabs-mode: nil -*- */
<%= header_comment
# This file is processed by apiwrap.rb.
%>
#ifndef APIWRAP_H
#define APIWRAP_H 1
#include <oci8.h>

#if defined RUNTIME_API_CHECK
void Init_oci8_apiwrap(void);
#endif
<%
funcs.each do |f|
  if f.version == 800
    if f.remote
%>
/*
 * <%=f.name%>
 *   version: <%=f.version%>
 *   remote:  <%=f.remote%>
 */
sword <%=f.name%>_nb(oci8_svcctx_t *svcctx, <%=f.args.collect {|arg| arg.dcl}.join(', ')%>);
<%
    end
  else # f.version == 800
    if f.remote
%>
/*
 * <%=f.name%>
 *   version: <%=f.version%>
 *   remote:  true
 */
#if defined RUNTIME_API_CHECK
/* runtime check */
typedef sword (*<%=f.name%>_nb_func_t)(oci8_svcctx_t *svcctx, <%=f.args.collect {|arg| arg.dcl}.join(', ')%>);
#define have_<%=f.name%>_nb (<%=f.name%>_nb != NULL)
extern <%=f.name%>_nb_func_t <%=f.name%>_nb;
#elif defined HAVE_<%=f.name.upcase%>
/* found on compilation */
#define have_<%=f.name%>_nb (1)
sword <%=f.name%>_nb(oci8_svcctx_t *svcctx, <%=f.args.collect {|arg| arg.dcl}.join(', ')%>);
#else
/* not found on compilation */
#define have_<%=f.name%>_nb (0)
sword <%=f.name%>_nb(oci8_svcctx_t *svcctx, <%=f.args.collect {|arg| arg.dcl}.join(', ')%>);
#endif
<%
    else
%>
/*
 * <%=f.name%>
 *   version: <%=f.version%>
 *   remote:  false
 */
#if defined RUNTIME_API_CHECK
/* runtime check */
typedef sword (*<%=f.name%>_func_t)(<%=f.args.collect {|arg| arg.dcl}.join(', ')%>);
#define have_<%=f.name%> (<%=f.name%> != NULL)
extern <%=f.name%>_func_t <%=f.name%>_func;
#ifndef API_WRAP_C
#undef <%=f.name%>
#define <%=f.name%> <%=f.name%>_func
#endif
#elif defined HAVE_<%=f.name.upcase%>
/* found on compilation */
#define have_<%=f.name%> (1)
#else
/* not found on compilation */
#define have_<%=f.name%> (0)
sword <%=f.name%>_func(<%=f.args.collect {|arg| arg.dcl}.join(', ')%>);
#ifndef API_WRAP_C
#undef <%=f.name%>
#define <%=f.name%> <%=f.name%>_func
#endif
#endif
<%
    end
  end  # f.version == 800
end # funcs.each
%>
#endif /* APIWRAP_H */
